@charset "UTF-8";
/*ОБНУЛЯЮЩИЙ СТИЛь*/
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

input,
button,
textarea {
  font-family: Georgia, "Times New Roman", Times, serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  width: 100%;
  height: 100%;
  line-height: 1;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  margin: 0 auto;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

h1 {
  margin: 50px 0px 10px 0px;
  font-size: 30px;
  text-align: center;
  color: blueviolet;
  text-shadow: 2px 2px 2px black;
}

@media (max-width: 562px) {
  h1 {
    font-size: 20px;
  }
}

h2 {
  margin: 20px 0px 20px 0px;
  font-size: 30px;
  text-align: center;
  color: blueviolet;
  text-shadow: 2px 2px 2px black;
  text-transform: capitalize;
}

@media (max-width: 562px) {
  h2 {
    font-size: 20px;
  }
}

p {
  display: inline-block;
  padding: 0px 0px 0px 5px;
  font-size: 2vw;
  line-height: 120%;
  font-weight: 700;
  margin: 0px 0px 20px 0px;
  background: #020024;
  background: #020024;
  background: #020024;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(2, 0, 36, 0.78195)), color-stop(56%, rgba(9, 77, 121, 0.244135)), to(#c95252));
  background: linear-gradient(0deg, rgba(2, 0, 36, 0.78195) 0%, rgba(9, 77, 121, 0.244135) 56%, #c95252 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

._container {
  max-width: 840px;
  width: 100%;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  background-color: cyan;
  margin: 0px 0px 20px 0px;
  border: 1px solid black;
  z-index: 10;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__logo {
  max-width: 400px;
  width: 100%;
  margin: 0px 50px 0px 0px;
  padding: 0px 0px 0px 15px;
  font-size: 20px;
  line-height: 125%;
  color: salmon;
  text-shadow: 1px 1px 1px black, -1px -1px 1px yellow;
  letter-spacing: 1px;
  -webkit-animation-name: logo;
          animation-name: logo;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

@media (max-width: 560px) {
  .menu__logo {
    font-size: 15px;
    line-height: 166.66667%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 5px;
  }
}

@media (max-width: 454px) {
  .menu__logo {
    font-size: 10px;
    line-height: 250%;
    margin: 0px 0px 0px 0px;
  }
}

@-webkit-keyframes logo {
  0% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
}

@keyframes logo {
  0% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
}

.menu__body {
  padding: 0px 5px 0px 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 800px;
          flex: 0 1 800px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list > li {
  margin: 0 auto;
}

.menu__link {
  font-size: 18px;
  line-height: 138.88889%;
  padding: 0px 5px 0px 5px;
  color: crimson;
  text-shadow: 1px 1px 1px black;
}

@media (max-width: 562px) {
  .menu__link {
    font-size: 15px;
    line-height: 166.66667%;
  }
}

@media (max-width: 454px) {
  .menu__link {
    font-size: 12px;
    line-height: 208.33333%;
  }
}

.menu__link:hover {
  color: hotpink;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content {
  padding: 0px 5px 0px 5px;
}

.content__text {
  font-size: 20px;
  color: black;
  margin: 0 auto;
  text-align: left;
  margin: 0px 0px 0px 0px;
}

.content__text:nth-child(1) {
  font-size: 21px;
  color: red;
}

@media (max-width: 562px) {
  .content__text:nth-child(1) {
    font-size: 15px;
    line-height: 166.66667%;
  }
}

.content__text:nth-child(5) {
  font-size: 21px;
  text-transform: uppercase;
}

@media (max-width: 562px) {
  .content__text:nth-child(5) {
    font-size: 15px;
    line-height: 166.66667%;
  }
}

@media (max-width: 562px) {
  .content__text {
    font-size: 15px;
    line-height: 166.66667%;
  }
}

.page__container {
  max-width: 840px;
  width: 100%;
}

.supermen {
  font-size: 0px;
  -webkit-box-shadow: 2px 2px 5px gold, -2px -2px 5px greenyellow;
          box-shadow: 2px 2px 5px gold, -2px -2px 5px greenyellow;
  border-radius: 20px;
  background-color: lightcyan;
  margin: 0px 5px 10px 5px;
}

@media (max-width: 840px) {
  .supermen {
    font-size: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 562px) {
  .supermen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.supermen__imeg {
  max-width: 128.2px;
  width: 100%;
  border-radius: 50%;
  border: 3px solid red;
  margin: 0px 12px 0px 0px;
  overflow: hidden;
}

.supermen__imeg:first-child {
  position: relative;
  top: 0px;
  left: 0px;
  -webkit-animation-name: foto1;
          animation-name: foto1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@media (max-width: 562px) {
  .supermen__imeg:first-child {
    -webkit-animation-name: none;
            animation-name: none;
  }
}

@-webkit-keyframes foto1 {
  0% {
    left: -500px;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    left: 0px;
  }
}

@keyframes foto1 {
  0% {
    left: -500px;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    left: 0px;
  }
}

.supermen__imeg:nth-child(2) {
  position: relative;
  top: 0px;
  left: -700px;
  -webkit-animation-name: foto2;
          animation-name: foto2;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (max-width: 562px) {
  .supermen__imeg:nth-child(2) {
    -webkit-animation-name: none;
            animation-name: none;
    position: relative;
    top: 0px;
    left: 0px;
  }
}

@-webkit-keyframes foto2 {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    left: 0px;
  }
}

@keyframes foto2 {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    left: 0px;
  }
}

.supermen__imeg:nth-child(3) {
  position: relative;
  top: -500px;
  left: 0px;
  -webkit-animation-name: foto3;
          animation-name: foto3;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (max-width: 562px) {
  .supermen__imeg:nth-child(3) {
    -webkit-animation-name: none;
            animation-name: none;
    position: relative;
    top: 0px;
    left: 0px;
  }
}

@-webkit-keyframes foto3 {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    top: 0px;
  }
}

@keyframes foto3 {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    top: 0px;
  }
}

.supermen__imeg:nth-child(4) {
  position: relative;
  top: -500px;
  left: 0px;
  -webkit-animation-name: foto4;
          animation-name: foto4;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (max-width: 562px) {
  .supermen__imeg:nth-child(4) {
    -webkit-animation-name: none;
            animation-name: none;
    position: relative;
    top: 0px;
    left: 0px;
  }
}

@-webkit-keyframes foto4 {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    top: 0px;
  }
}

@keyframes foto4 {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    top: 0px;
  }
}

.supermen__imeg:nth-child(5) {
  position: relative;
  top: 0px;
  right: -700px;
  -webkit-animation-name: foto5;
          animation-name: foto5;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (max-width: 562px) {
  .supermen__imeg:nth-child(5) {
    -webkit-animation-name: none;
            animation-name: none;
    position: relative;
    top: 0px;
    left: 0px;
  }
}

@-webkit-keyframes foto5 {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    right: 0px;
  }
}

@keyframes foto5 {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    right: 0px;
  }
}

.supermen__imeg:last-child {
  position: relative;
  top: 0px;
  right: -700px;
  margin: 0px 0px 0px 0px;
  -webkit-animation-name: foto6;
          animation-name: foto6;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (max-width: 562px) {
  .supermen__imeg:last-child {
    -webkit-animation-name: none;
            animation-name: none;
    position: relative;
    top: 0px;
    left: 0px;
  }
}

@-webkit-keyframes foto6 {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    right: 0px;
  }
}

@keyframes foto6 {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    right: 0px;
  }
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.name__boy {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 140px;
          flex: 0 1 140px;
  font-size: 10px;
  line-height: 125%;
  margin: 0px 0px 10px 0px;
  padding: 0px 5px 0px 5px;
  color: chocolate;
  text-shadow: 0.5px 0.5px 0.5px black;
  text-align: center;
}

.name__boy:hover {
  color: chartreuse;
  -webkit-transition: 1s;
  transition: 1s;
}

.name__boy:first-child {
  position: relative;
  left: 0px;
  -webkit-animation-name: name;
          animation-name: name;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@media (max-width: 562px) {
  .name__boy:first-child {
    -webkit-animation-name: none;
            animation-name: none;
  }
}

@-webkit-keyframes name {
  0% {
    left: -500px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    left: 0px;
  }
}

@keyframes name {
  0% {
    left: -500px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    left: 0px;
  }
}

.name__boy:nth-child(2) {
  position: relative;
  left: -700px;
  -webkit-animation-name: name2;
          animation-name: name2;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (max-width: 562px) {
  .name__boy:nth-child(2) {
    -webkit-animation-name: none;
            animation-name: none;
    position: relative;
    top: 0px;
    left: 0px;
  }
}

@-webkit-keyframes name2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    left: 0px;
  }
}

@keyframes name2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    left: 0px;
  }
}

.name__boy:nth-child(3) {
  position: relative;
  top: -500px;
  left: 0px;
  -webkit-animation-name: name3;
          animation-name: name3;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (max-width: 562px) {
  .name__boy:nth-child(3) {
    -webkit-animation-name: none;
            animation-name: none;
    position: relative;
    top: 0px;
    left: 0px;
  }
}

@-webkit-keyframes name3 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 0px;
  }
}

@keyframes name3 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 0px;
  }
}

.name__boy:nth-child(4) {
  position: relative;
  top: -500px;
  left: 0px;
  -webkit-animation-name: name4;
          animation-name: name4;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (max-width: 562px) {
  .name__boy:nth-child(4) {
    -webkit-animation-name: none;
            animation-name: none;
    position: relative;
    top: 0px;
    left: 0px;
  }
}

@-webkit-keyframes name4 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 0px;
  }
}

@keyframes name4 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 0px;
  }
}

.name__boy:nth-child(5) {
  position: relative;
  top: 0px;
  right: -700px;
  -webkit-animation-name: name5;
          animation-name: name5;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (max-width: 562px) {
  .name__boy:nth-child(5) {
    -webkit-animation-name: none;
            animation-name: none;
    position: relative;
    top: 0px;
    left: 0px;
  }
}

@-webkit-keyframes name5 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    right: 0px;
  }
}

@keyframes name5 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    right: 0px;
  }
}

.name__boy:last-child {
  position: relative;
  top: 0px;
  right: -700px;
  margin: 0px 0px 0px 0px;
  -webkit-animation-name: name6;
          animation-name: name6;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  margin: 0px 0px 0px 0px;
}

@media (max-width: 562px) {
  .name__boy:last-child {
    -webkit-animation-name: none;
            animation-name: none;
    position: relative;
    top: 0px;
    left: 0px;
  }
}

@-webkit-keyframes name6 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    right: 0px;
  }
}

@keyframes name6 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    right: 0px;
  }
}

.page__foto-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.foto-work__img {
  width: 45%;
  margin: 5px;
  padding: 5px;
  border: 2px solid blueviolet;
  border-radius: 20px;
  overflow: hidden;
}

.footer__text {
  font-size: 35px;
  color: crimson;
  text-shadow: 2px 2px 2px black;
  text-align: center;
  margin: 0px 0px 10px 0px;
}
