/*ОБНУЛЯЮЩИЙ СТИЛь*/
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html,
body {
	height: 100%;
}
input,
button,
textarea {
	font-family: Georgia, "Times New Roman", Times, serif;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
//-webkit-overflow-scrolling: touch;
//animation-play-state: paused !important;

body {
	width: 100%;
	height: 100%;
	line-height: 1;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	margin: 0 auto;
	width: 100%;
	flex: 1 1 auto;
}
h1 {
	margin: 50px 0px 10px 0px;
	font-size: 30px;
	text-align: center;
	color: blueviolet;
	text-shadow: 2px 2px 2px black;
	@media (max-width: 562px) {
		font-size: 20px;
	}
}
h2 {
	margin: 20px 0px 20px 0px;
	font-size: 30px;
	text-align: center;
	color: blueviolet;
	text-shadow: 2px 2px 2px black;
	text-transform: capitalize;
	@media (max-width: 562px) {
		font-size: 20px;
	}
}
p {
	display: inline-block;
	padding: 0px 0px 0px 5px;
	font-size: 2vw;
	line-height: 24 / 20 * 100%;
	font-weight: 700;
	margin: 0px 0px 20px 0px;
	background: rgb(2, 0, 36);
	background: rgb(2, 0, 36);
	background: rgb(2, 0, 36);
	background: linear-gradient(
		0deg,
		rgba(2, 0, 36, 0.7819502801120448) 0%,
		rgba(9, 77, 121, 0.24413515406162467) 56%,
		rgba(201, 82, 82, 1) 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: 840px;
	width: 100%;
	margin: 0 auto;
}

//====================================================================================================
.header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
	background-color: cyan;
	margin: 0px 0px 20px 0px;
	border: 1px solid black;
	z-index: 10;
	// .header__content
	&__content {
	}
	// .header__menu
	&__menu {
		display: flex;
	}
}
.menu {
}

.menu {
	// .menu__logo
	&__logo {
		max-width: 400px;
		width: 100%;
		margin: 0px 50px 0px 0px;
		padding: 0px 0px 0px 15px;
		font-size: 20px;
		line-height: 25 / 20 * 100%;
		color: salmon;
		text-shadow: 1px 1px 1px black, -1px -1px 1px yellow;
		letter-spacing: 1px;
		// flex: 0 1 100px;
		animation-name: logo;
		animation-duration: 4s;
		@media (max-width: 560px) {
			font-size: 15px;
			line-height: 25 / 15 * 100%;
			margin: 0px 0px 0px 0px;
			padding: 0px 0px 0px 5px;
		}
		@media (max-width: 454px) {
			font-size: 10px;
			line-height: 25 / 10 * 100%;
			margin: 0px 0px 0px 0px;
		}
	}
	@keyframes logo {
		0% {
			transform: translateX(-300px);
		}
		// 100% {
		// 	left: 50%;
		// }
	}

	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
		padding: 0px 5px 0px 5px;
		flex: 0 1 800px;
	}
	// .menu__list
	&__list {
		display: flex;
	}
	&__list > li {
		margin: 0 auto;
	}

	// .menu__link
	&__link {
		font-size: 18px;
		line-height: 25 / 18 * 100%;
		padding: 0px 5px 0px 5px;
		color: crimson;
		text-shadow: 1px 1px 1px black;
		@media (max-width: 562px) {
			font-size: 15px;
			line-height: 25 / 15 * 100%;
		}
		@media (max-width: 454px) {
			font-size: 12px;
			line-height: 25 / 12 * 100%;
		}

		&:hover {
			color: hotpink;
			transition: 0.5s;
		}
	}
}
.icon-menu {
}

// ==============================================================================
.page {
	// .page__content
	&__content {
	}
}
.content {
	padding: 0px 5px 0px 5px;
	// .content__text
	&__text {
		font-size: 20px;
		color: black;
		margin: 0 auto;
		text-align: left;
		margin: 0px 0px 0px 0px;
		&:nth-child(1) {
			font-size: 21px;
			color: red;
			@media (max-width: 562px) {
				font-size: 15px;
				line-height: 25 / 15 * 100%;
			}
		}
		&:nth-child(5) {
			font-size: 21px;
			text-transform: uppercase;
			@media (max-width: 562px) {
				font-size: 15px;
				line-height: 25 / 15 * 100%;
			}
		}
		@media (max-width: 562px) {
			font-size: 15px;
			line-height: 25 / 15 * 100%;
		}
	}
}
// ==============================================================================
.page {
	// .page__superheroes
	&__superheroes {
	}
	// .page__container
	&__container {
		max-width: 840px;
		width: 100%;
	}
	// .page__content
	&__content {
	}
}
.supermen {
	font-size: 0px;
	box-shadow: 2px 2px 5px gold, -2px -2px 5px greenyellow;
	border-radius: 20px;
	background-color: lightcyan;
	margin: 0px 5px 10px 5px;
	@media (max-width: 840px) {
		font-size: 45px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	@media (max-width: 562px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	// .supermen__imeg
	&__imeg {
		max-width: 128.2px;
		width: 100%;
		border-radius: 50%;
		border: 3px solid red;
		margin: 0px 12px 0px 0px;
		padding: 3px;
		overflow: hidden;
		&:first-child {
			position: relative;
			top: 0px;
			left: 0px;
			animation-name: foto1;
			animation-duration: 3s;
			animation-timing-function: ease;
			@media (max-width: 562px) {
				animation-name: none;
			}
		}
		@keyframes foto1 {
			0% {
				left: -500px;
				transform: rotate(-360deg);
			}
			100% {
				left: 0px;
			}
		}
		&:nth-child(2) {
			position: relative;
			top: 0px;
			left: -700px;
			animation-name: foto2;
			animation-duration: 3s;
			animation-delay: 2s;
			animation-timing-function: ease;
			animation-fill-mode: forwards;
			@media (max-width: 562px) {
				animation-name: none;
				position: relative;
				top: 0px;
				left: 0px;
			}
		}
		@keyframes foto2 {
			0% {
				transform: rotate(-360deg);
			}
			100% {
				left: 0px;
			}
		}
		&:nth-child(3) {
			position: relative;
			top: -500px;
			left: 0px;
			animation-name: foto3;
			animation-duration: 3s;
			animation-delay: 4s;
			animation-timing-function: ease;
			animation-fill-mode: forwards;
			@media (max-width: 562px) {
				animation-name: none;
				position: relative;
				top: 0px;
				left: 0px;
			}
		}
		@keyframes foto3 {
			0% {
				transform: rotate(-360deg);
			}
			100% {
				top: 0px;
			}
		}
		&:nth-child(4) {
			position: relative;
			top: -500px;
			left: 0px;
			animation-name: foto4;
			animation-duration: 3s;
			animation-delay: 6s;
			animation-timing-function: ease;
			animation-fill-mode: forwards;
			@media (max-width: 562px) {
				animation-name: none;
				position: relative;
				top: 0px;
				left: 0px;
			}
		}
		@keyframes foto4 {
			0% {
				transform: rotate(-360deg);
			}
			100% {
				top: 0px;
			}
		}
		&:nth-child(5) {
			position: relative;
			top: 0px;
			right: -700px;
			// margin: 0px 12px 0px 0px;
			animation-name: foto5;
			animation-duration: 3s;
			animation-delay: 8s;
			animation-timing-function: ease;
			animation-fill-mode: forwards;
			@media (max-width: 562px) {
				animation-name: none;
				position: relative;
				top: 0px;
				left: 0px;
			}
		}
		@keyframes foto5 {
			0% {
				transform: rotate(-360deg);
			}
			100% {
				right: 0px;
			}
		}
		&:last-child {
			position: relative;
			top: 0px;
			right: -700px;
			margin: 0px 0px 0px 0px;
			animation-name: foto6;
			animation-duration: 3s;
			animation-delay: 10s;
			animation-timing-function: ease;
			animation-fill-mode: forwards;
			@media (max-width: 562px) {
				animation-name: none;
				position: relative;
				top: 0px;
				left: 0px;
			}
		}
		@keyframes foto6 {
			0% {
				transform: rotate(-360deg);
			}
			100% {
				right: 0px;
			}
		}
	}
}
// ==============================================================================

.page {
	// .page__container
	&__container {
	}
	// .page__content
	&__content {
	}
}
.name {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	// .name__boy
	&__boy {
		flex: 0 1 140px;
		font-size: 10px;
		line-height: 15 / 12 * 100%;
		margin: 0px 0px 10px 0px;
		padding: 0px 5px 0px 5px;
		color: chocolate;
		text-shadow: 0.5px 0.5px 0.5px black;
		text-align: center;
		&:hover {
			color: chartreuse;
			transition: 1s;
		}
		&:first-child {
			position: relative;
			left: 0px;
			animation-name: name;
			animation-duration: 3s;
			animation-timing-function: ease;
			@media (max-width: 562px) {
				animation-name: none;
			}
		}
		@keyframes name {
			0% {
				left: -500px;
				transform: rotate(0deg);
			}
			100% {
				left: 0px;
			}
		}
		&:nth-child(2) {
			position: relative;
			left: -700px;
			animation-name: name2;
			animation-duration: 3s;
			animation-delay: 2s;
			animation-timing-function: ease;
			animation-fill-mode: forwards;
			@media (max-width: 562px) {
				animation-name: none;
				position: relative;
				top: 0px;
				left: 0px;
			}
		}
		@keyframes name2 {
			0% {
				transform: rotate(0deg);
			}
			100% {
				left: 0px;
			}
		}
		&:nth-child(3) {
			position: relative;
			top: -500px;
			left: 0px;
			animation-name: name3;
			animation-duration: 3s;
			animation-delay: 4s;
			animation-timing-function: ease;
			animation-fill-mode: forwards;
			@media (max-width: 562px) {
				animation-name: none;
				position: relative;
				top: 0px;
				left: 0px;
			}
		}
		@keyframes name3 {
			0% {
				transform: rotate(0deg);
			}
			100% {
				top: 0px;
			}
		}
		&:nth-child(4) {
			position: relative;
			top: -500px;
			left: 0px;
			animation-name: name4;
			animation-duration: 3s;
			animation-delay: 6s;
			animation-timing-function: ease;
			animation-fill-mode: forwards;
			@media (max-width: 562px) {
				animation-name: none;
				position: relative;
				top: 0px;
				left: 0px;
			}
		}
		@keyframes name4 {
			0% {
				transform: rotate(0deg);
			}
			100% {
				top: 0px;
			}
		}
		&:nth-child(5) {
			position: relative;
			top: 0px;
			right: -700px;
			// margin: 0px 12px 0px 0px;
			animation-name: name5;
			animation-duration: 3s;
			animation-delay: 8s;
			animation-timing-function: ease;
			animation-fill-mode: forwards;
			@media (max-width: 562px) {
				animation-name: none;
				position: relative;
				top: 0px;
				left: 0px;
			}
		}
		@keyframes name5 {
			0% {
				transform: rotate(0deg);
			}
			100% {
				right: 0px;
			}
		}
		&:last-child {
			position: relative;
			top: 0px;
			right: -700px;
			margin: 0px 0px 0px 0px;
			animation-name: name6;
			animation-duration: 3s;
			animation-delay: 10s;
			animation-timing-function: ease;
			animation-fill-mode: forwards;
			margin: 0px 0px 0px 0px;
			@media (max-width: 562px) {
				animation-name: none;
				position: relative;
				top: 0px;
				left: 0px;
			}
		}
		@keyframes name6 {
			0% {
				transform: rotate(0deg);
			}
			100% {
				right: 0px;
			}
		}
	}
}
// ==============================================================================

.page {
	// .page__work
	&__work {
	}
	// .page__foto-work
	&__foto-work {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}
.foto-work {
	// .foto-work__img
	&__img {
		width: 45%;
		margin: 5px;
		padding: 5px;
		border: 2px solid blueviolet;
		border-radius: 20px;
		overflow: hidden;
		cursor: pointer;
	}
}

// ==============================================================================

.page {
	// .page__foto-work-2
	&__foto-work-2 {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}
.foto-work-2 {
	// .foto-work-2__img
	&__img {
		width: 20%;
		margin: 5px;
		padding: 5px;
		border: 2px solid blueviolet;
		border-radius: 20px;
		overflow: hidden;
		cursor: pointer;
	}
}

// ==============================================================================

.page {
	// .page__container
	&__container {
	}
	// .page__foto-sleep
	&__foto-sleep {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}
.foto-sleep {
	// .foto-sleep__img
	&__img {
		width: 45%;
		margin: 5px;
		padding: 5px;
		border: 2px solid blueviolet;
		border-radius: 20px;
		overflow: hidden;
		cursor: pointer;
	}
}

.footer {
	// .footer__text
	&__text {
		font-size: 35px;
		color: crimson;
		text-shadow: 2px 2px 2px black;
		text-align: center;
		margin: 0px 0px 10px 0px;
	}
}
